
table 
{
    text-align: center;
    margin: 0 auto;
    
}

/*
#title
{
    
}*/

.number
{
    width: 100px;
}

.pic
{
    width: 100px;
}

.name
{
    width: 300px;
}

.period
{
    width: 200px;
}

footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0 0 10px 0;
}
