
table 
{
    text-align: center;
    margin: 0 auto;
    
}

/*
#title
{
    
}*/

.number
{
    width: 100px;
}

.pic
{
    width: 100px;
}

.name
{
    width: 300px;
}

.period
{
    width: 200px;
}

